@import blueprint/reset
@import partials/base
@import blueprint
@import blueprint/scaffolding

=box
  +border-radius
  border: 1px solid #ccc
  padding-top: 15px
  padding-bottom: 15px
  background-color: #eee

=a($normal:#00a, $hover:#000)
  a, a:hover, a:active, a:visited
    color: $normal
    text-decoration: underline

  a:hover
    color: $hover
    text-decoration: underline

body
  +blueprint-typography(true)
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  font: Helvetica, Arial, Sans-Serif
  font-size: 9pt
  +a
  background-color: #555

.container
  +container

section
  width: auto
  background-color: #eee

section.header
  padding: 10px 0px
  h1
    padding: 5px 0px 0px 0px
    margin: 0px
    font-size: 30pt
    font-weight: bold
  p
    padding: 0px
    margin: 0px

section.content
  padding: 10px 0px
  background-color: #fff

section.footer
  border-top: 2px solid #aaa
  background-color: #555

navigation
  +column(4)
  section
    padding: 2px

article
  +column(15.5)

footer
  $footer-color: #ddd
  +column(20)
  margin: 0px auto
  font-size: 8pt
  color: $footer-color
  +a($footer-color, #fff)
  ul
    +column(3.9)
    +no-bullets
    margin: 10px 10px 0px 0px
    padding: 0px
    li.title
      font-weight: bold

