!!! 5
%html
  %head
    %title BBCloneMail: A Backbone.Marionette Reference Application
    %link{:href=>"/css/bbclonemail.css", :rel=>"stylesheet", :type=>"text/css"}

    %script{:id=>"email-preview-template", :type=>"text/x-jquery-tmpl"}
      %header
        %span.from
          ${from}
        %span.subject
          ${subject}
        %span.date
          ${date}

    %script{:id=>"email-view-template", :type=>"text/x-jquery-tmpl"}
      %li
        %header
          %span.from
            ${from}
          %span.subject
            ${subject}
          %span.date
            ${date}
        %article
          .body
            {{if categories}}
            %ul.emailCategories
              {{each categories}}
              %li ${$value}
              {{/each}}
            {{/if}}
            {{each body}}
            %p ${$value}
            {{/each}}

    %script{:id=>"mail-categories-view-template", :type=>"text/x-jquery-tmpl"}
      %p Mail Categories
      %ul
        %li{:"data-category"=>""} 
          %a{:href=>"#inbox", :"data-category"=>""}Inbox
        %li{:"data-category"=>""} 
          %a{:href=>"#inbox/sent", :"data-category"=>"sent"}Sent
        %li{:"data-category"=>""} 
          %a{:href=>"#inbox/trash", :"data-category"=>"trash"}Trash
      %ul.customCategories
        {{each items}}
        %li{:"data-category"=>""}
          %a{:href=>"#inbox/categories/${$value.name}", :"data-category"=>"${$value.name}"}${$value.name}
        {{/each}}

    %script{:id=>"contact-list-view-template", :type=>"text/x-jquery-tmpl"}
      %li
        %span.name
          Joe Johnson
        %span.email
          joe.johnson@example.com
        %span.phone
          555-555-5555
      %li
        %span.name
          Jim Jimson
        %span.email
          jim.jimson@example.com
        %span.phone
          555-555-5556
      %li
        %span.name
          Ben Benson
        %span.email
          ben.benson@example.com
        %span.phone
          555-555-5557
      %li
        %span.name
          Bob Robertson
        %span.email
          robert.robertson@example.com
        %span.phone
          555-555-5558
      %li
        %span.name
          Amy Amerson
        %span.email
          amy.amerson@example.com
        %span.phone
          555-555-5559
      %li
        %span.name
          Julie Julerson
        %span.email
          julie.julerson@example.com
        %span.phone
          555-555-5560

    %script{:id=>"contact-categories-view-template", :type=>"text/x-jquery-tmpl"}
      %p Contact Categories
      %ul
        %li 
          %a{:href=>"#"}Everyone
        %li 
          %a{:href=>"#"}Friends
        %li 
          %a{:href=>"#"}Family
        %li 
          %a{:href=>"#"}Coworkers

  %body
    %section.header
      .container
        %header
          %h1 BBCloneMail
          %p.tag-line 
            A 
            %a{:href=> "http://github.com/derickbailey/backbone.marionette"}Backbone.Marionette
            Reference Application
        %header.help
          This application demonstrates the use of my 
          %a{:href => "http://github.com/derickbailey/backbone.marionette"}Backbone.Marionette
          plugin for BackboneJS. To see it in action, change the selected app
          in the drop list to the left. Be sure to check out 
          %a{:href => "http://github.com/derickbailey/bbclonemail"}the source code
          to see how it works.
            
    %section.content
      .container
        %navigation
          %section#app-selector
            %select
              %option{:value=>"mail"}Mail
              %option{:value=>"contacts"}Contacts
          %section#navigation

        %article#main
          #loading
            %img{:src=>"/images/ajax-loader.gif"}

    %section.footer
      .container
        %footer
          %ul
            %li
              Copyright &copy;2011
              %a{:href=>"http://mutedsolutions.com"}Muted Solutions, LLC.
              All rights reserved. 
          %ul
            %li
              BBCloneMail is a reference app for building awesomeness with 
              %a{:href => "http://backbonejs.org"}Backbone.js 
              and 
              %a{:href => "http://github.com/derickbailey/backbone.marionette"}Backbone.Marionette
          %ul
            %li.title BBCloneMail Source:
            %li
              %a{:href => "http://github.com/derickbailey/bbclonemail"}
                The Github Project
            %li
              %a{:href => "http://derickbailey.github.com/bbclonemail/docs/bbclonemail.html"}
                The Annoted Code
          %ul
            %li.title
              Find me Twitter:
            %li
              %a{:href => "http://twitter.com/derickbailey"}@derickbailey
            %li
              %a{:href => "http://twitter.com/backbonejsclass"}@backbonejsclass
            %li
              %a{:href => "http://twitter.com/mutedsolutions"}@mutedsolutions
          %ul
            %li.title
              Find me on the web:
            %li
              %a{:href => "http://backbonetraining.net"}BackboneTraining.net
            %li
              %a{:href => "http://watchmecode.net"}WatchMeCode.net
            %li
              %a{:href => "http://derickbailey.lostechies.com"}DerickBailey.lostechies.com
            %li
              %a{:href => "http://mutedsolutions.com"}MutedSolutions.com

    %script{:src=>"/javascripts/vendor/json2.js"}
    %script{:src=>"/javascripts/vendor/jquery.js"}
    %script{:src=>"/javascripts/vendor/jquery-tmpl.js"}
    %script{:src=>"/javascripts/vendor/underscore.js"}
    %script{:src=>"/javascripts/vendor/backbone.js"}
    %script{:src=>"/javascripts/vendor/backbone.marionette.js"}
    %script{:src=>"/javascripts/bbclonemail.js"}
    %script{:src=>"/javascripts/bbclonemail.views.js"}
    %script{:src=>"/javascripts/bbclonemail.router.js"}
    %script{:src=>"/javascripts/bbclonemail.appselection.js"}
    %script{:src=>"/javascripts/bbclonemail.mailapp.js"}
    %script{:src=>"/javascripts/bbclonemail.mailapp.categories.js"}
    %script{:src=>"/javascripts/bbclonemail.mailapp.mailbox.js"}
    %script{:src=>"/javascripts/bbclonemail.contactsapp.js"}

    :javascript
      $(function(){
        var body = [
          "Voluptate quinoa wayfarers, american apparel consectetur mlkshk dolor DIY. Portland pitchfork terry richardson jean shorts locavore placeat.  Qui retro stumptown, art party aute delectus reprehenderit wolf quinoa craft beer nesciunt minim master cleanse. Irony cliche dreamcatcher, PBR skateboard laborum ex synth trust fund wayfarers tumblr. Gluten-free nostrud williamsburg, sustainable freegan delectus yr laborum wes anderson incididunt vice elit artisan shoreditch. Cred accusamus jean shorts aliquip, 3 wolf moon occaecat farm-to-table VHS stumptown beard in cupidatat ethical sartorial high life. Before they sold out four loko do, chambray wolf eu pariatur in irony.",
          "Whatever keytar odio mollit, portland enim consequat ethical minim quis mixtape VHS master cleanse culpa deserunt. Do mcsweeney's butcher sustainable , cosby sweater cupidatat ex veniam mollit cardigan. Exercitation wayfarers tofu sint fixie irure, vinyl raw denim officia cupidatat. Sed velit enim, sapiente keytar salvia aute non craft beer. Fixie deserunt non banh mi seitan. Salvia cardigan aute duis. Velit pariatur in commodo, wayfarers enim cardigan freegan yr nesciunt helvetica gluten-free culpa minim scenester.",
          "Cred fap cliche hoodie stumptown. Duis cillum wolf quinoa vinyl anim, iphone odio lomo Austin. Freegan carles food truck, 8-bit retro brooklyn Austin tempor nihil voluptate cosby sweater. Squid letterpress craft beer , tumblr portland gentrify vice keytar echo park twee master cleanse. Laboris ad sint vero consectetur cupidatat. Exercitation 3 wolf moon american apparel , labore do iphone +1 gluten-free. Incididunt fixie gluten-free williamsburg , hoodie yr aliqua mcsweeney's. "
        ];

        var options = {};

        options.categories = ["Work Related", "Personal", "Important", "Read Later"]

        options.email = [
          {
            id: "sdf908f67hjf9sf",
            from: "Joe Johnson",
            subject: "Some email about that subject which was sent to you",
            date: "1/1/2001",
            body: body,
            categories: ["Work Related"]
          },
          {
            id: "365hljk85436lkh",
            from: "Jim Jimson",
            subject: "Did you get that thing I sent you?",
            date: "1/1/2001",
            body: body,
            categories: ["Work Related", "Read Later"]
          },
          {
            id: "a89ghjkl12389sg",
            from: "Ben Benson",
            subject: "Nigerian King needs YOU to send HIM money!",
            date: "1/1/2001",
            body: body,
            categories: ["Personal", "Important"]
          },
          {
            id: "764089gfdljk563",
            from: "Bob Robertson",
            subject: "Yo dawg, I hear you like Backbone...",
            date: "1/1/2001",
            body: body,
            categories: ["Read Later", "Important"]
          },
        ];

        BBCloneMail.start(options);
      });
