!!! 5
%html
  %head
    %title BBCloneMail: A Backbone.Marionette Reference Application
    %link{:href=>"/css/bbclonemail.css", :rel=>"stylesheet", :type=>"text/css"}
    
    %script{:id=>"email-list-view-template", :type=>"text/x-jquery-tmpl"}
      %li
        %span.from
          Joe Johnson
        %span.subject
          Some email about that subject, which is sent to you
        %span.date
          1/1/2001
      %li
        %span.from
          Jim Jimson
        %span.subject
          Did you get that thing I sent you?
        %span.date
          2/2/2002
      %li
        %span.from
          Ben Benson
        %span.subject
          Nigerian king needs YOU to send HIM money!
        %span.date
          3/3/2003
      %li
        %span.from
          Bob Robertson
        %span.subject
          Yo dawg, I heard you like Backbone...
        %span.date
          4/4/2004

    %script{:id=>"mail-categories-view-template", :type=>"text/x-jquery-tmpl"}
      %p Mail Categories
      %ul
        %li 
          %a{:href=>"#"}Inbox
        %li 
          %a{:href=>"#"}Sent
        %li 
          %a{:href=>"#"}Work Related
        %li 
          %a{:href=>"#"}Trash

    %script{:id=>"contact-list-view-template", :type=>"text/x-jquery-tmpl"}
      %li
        %span.name
          Joe Johnson
        %span.email
          joe.johnson@example.com
        %span.phone
          555-555-5555
      %li
        %span.name
          Jim Jimson
        %span.email
          jim.jimson@example.com
        %span.phone
          555-555-5556
      %li
        %span.name
          Ben Benson
        %span.email
          ben.benson@example.com
        %span.phone
          555-555-5557
      %li
        %span.name
          Bob Robertson
        %span.email
          robert.robertson@example.com
        %span.phone
          555-555-5558
      %li
        %span.name
          Amy Amerson
        %span.email
          amy.amerson@example.com
        %span.phone
          555-555-5559
      %li
        %span.name
          Julie Julerson
        %span.email
          julie.julerson@example.com
        %span.phone
          555-555-5560

    %script{:id=>"contact-categories-view-template", :type=>"text/x-jquery-tmpl"}
      %p Contact Categories
      %ul
        %li 
          %a{:href=>"#"}Everyone
        %li 
          %a{:href=>"#"}Friends
        %li 
          %a{:href=>"#"}Family
        %li 
          %a{:href=>"#"}Coworkers

  %body
    %section.header
      .container
        %header.titlebar
          %h1 BBCloneMail
          %p.tag-line 
            A 
            %a{:href=> "http://github.com/derickbailey/backbone.marionette"}Backbone.Marionette
            Reference Application
            
    %section.content
      .container
        %navigation
          %section#app-selector
            %select
              %option{:value=>"mail"}Mail
              %option{:value=>"contacts"}Contacts
          %section#navigation

        %article#main

    %section.footer
      .container
        %footer
          %ul
            %li
              Copyright &copy;2011
              %a{:href=>"http://mutedsolutions.com"}Muted Solutions, LLC.
              All rights reserved. 
            %li &nbsp;
            %li
              %a{:href => "http://github.com/derickbailey/bbclonemail"}
                Get The BBCloneMail Source
          %ul
            %li
              BBCloneMail is a reference for building composite JavaScript apps
              with Backbone.js and 
              %a{:href => "http://github.com/derickbailey/backbone.marionette"}Backbone.Marionette
          %ul
            %li.title
              App Built With:
            %li
              %a{:href => "http://backbonejs.org"}Backbone.js
            %li
              %a{:href => "http://github.com/derickbailey/backbone.marionette"}Backbone.Marionette
          %ul
            %li.title
              Find me Twitter:
            %li
              %a{:href => "http://twitter.com/derickbailey"}@derickbailey
            %li
              %a{:href => "http://twitter.com/backbonejsclass"}@backbonejsclass
            %li
              %a{:href => "http://twitter.com/mutedsolutions"}@mutedsolutions
          %ul
            %li.title
              Find me on the web:
            %li
              %a{:href => "http://backbonetraining.net"}BackboneTraining.net
            %li
              %a{:href => "http://derickbailey.lostechies.com"}DerickBailey.lostechies.com
            %li
              %a{:href => "http://mutedsolutions.com"}MutedSolutions.com

    %script{:src=>"/javascripts/vendor/json2.js"}
    %script{:src=>"/javascripts/vendor/jquery.js"}
    %script{:src=>"/javascripts/vendor/jquery-tmpl.js"}
    %script{:src=>"/javascripts/vendor/underscore.js"}
    %script{:src=>"/javascripts/vendor/backbone.js"}
    %script{:src=>"/javascripts/vendor/backbone.marionette.js"}
    %script{:src=>"/javascripts/bbclonemail.js"}
    %script{:src=>"/javascripts/bbclonemail.router.js"}
    %script{:src=>"/javascripts/bbclonemail.appselection.js"}
    %script{:src=>"/javascripts/bbclonemail.mailapp.js"}
    %script{:src=>"/javascripts/bbclonemail.contactsapp.js"}

    :javascript
      $(function(){
        BBCloneMail.start();
      });
