!!! 5
%html
  %head
    %title BBCloneMail: A Backbone.Marionette Reference Application
    %link{:href=>"/css/bbclonemail.css", :rel=>"stylesheet", :type=>"text/css"}

  %body
    %section.header
      .container
        %header
          %h1 BBCloneMail
          %p.tag-line 
            A 
            %a{:href=> "http://github.com/derickbailey/backbone.marionette"}Backbone.Marionette
            Reference Application
        %header.help
          This application demonstrates the use of my 
          %a{:href => "http://github.com/derickbailey/backbone.marionette"}Backbone.Marionette
          plugin for BackboneJS. To see it in action, change the selected app
          in the drop list to the left. Be sure to check out 
          %a{:href => "http://github.com/derickbailey/bbclonemail"}the source code
          to see how it works.
            
    %section.content
      .container
        %navigation
          %section#app-selector
            %select
              %option{:value=>"mail"}Mail
              %option{:value=>"contacts"}Contacts
          %section#navigation

        %article#main
          #loading
            %img{:src=>"/images/ajax-loader.gif"}

    %section.footer
      .container
        %footer
          %ul
            %li
              Copyright &copy;2011
              %a{:href=>"http://mutedsolutions.com"}Muted Solutions, LLC.
              All rights reserved. 
          %ul
            %li
              BBCloneMail is a reference app for building awesomeness with 
              %a{:href => "http://backbonejs.org"}Backbone.js 
              and 
              %a{:href => "http://github.com/derickbailey/backbone.marionette"}Backbone.Marionette
          %ul
            %li.title BBCloneMail Source:
            %li
              %a{:href => "http://github.com/derickbailey/bbclonemail"}
                The Github Project
            %li
              %a{:href => "http://derickbailey.github.com/bbclonemail/docs/bbclonemail.html"}
                The Annoted Code
          %ul
            %li.title
              Find me Twitter:
            %li
              %a{:href => "http://twitter.com/derickbailey"}@derickbailey
            %li
              %a{:href => "http://twitter.com/backbonejsclass"}@backbonejsclass
            %li
              %a{:href => "http://twitter.com/mutedsolutions"}@mutedsolutions
          %ul
            %li.title
              Find me on the web:
            %li
              %a{:href => "http://backbonetraining.net"}BackboneTraining.net
            %li
              %a{:href => "http://watchmecode.net"}WatchMeCode.net
            %li
              %a{:href => "http://derickbailey.lostechies.com"}DerickBailey.lostechies.com
            %li
              %a{:href => "http://mutedsolutions.com"}MutedSolutions.com

    // pre-requisites and libraries
    %script{:src=>"/javascripts/vendor/json2.js"}
    %script{:src=>"/javascripts/vendor/jquery.js"}
    %script{:src=>"/javascripts/vendor/jquery-tmpl.js"}
    %script{:src=>"/javascripts/vendor/underscore.js"}
    %script{:src=>"/javascripts/vendor/backbone.js"}
    %script{:src=>"/javascripts/vendor/backbone.marionette.js"}

    // general app files
    %script{:src=>"/javascripts/bbclonemail.js"}
    %script{:src=>"/javascripts/bbclonemail.views.js"}
    %script{:src=>"/javascripts/bbclonemail.appselection.js"}
    %script{:src=>"/javascripts/bbclonemail.routing.js"}

    // routing files

    // mail app files
    %script{:src=>"/javascripts/mail/bbclonemail.mailapp.js"}
    %script{:src=>"/javascripts/mail/bbclonemail.mailapp.categories.js"}
    %script{:src=>"/javascripts/mail/bbclonemail.mailapp.mailbox.js"}
    %script{:src=>"/javascripts/mail/bbclonemail.routing.mailrouting.js"}

    // contacts app files
    %script{:src=>"/javascripts/contacts/bbclonemail.contactsapp.js"}
    %script{:src=>"/javascripts/contacts/bbclonemail.contactsapp.categories.js"}
    %script{:src=>"/javascripts/contacts/bbclonemail.contactsapp.contactlist.js"}
    %script{:src=>"/javascripts/contacts/bbclonemail.routing.contactsrouting.js"}

    :javascript
      $(function(){
        var body = [
          "Voluptate quinoa wayfarers, american apparel consectetur mlkshk dolor DIY. Portland pitchfork terry richardson jean shorts locavore placeat.  Qui retro stumptown, art party aute delectus reprehenderit wolf quinoa craft beer nesciunt minim master cleanse. Irony cliche dreamcatcher, PBR skateboard laborum ex synth trust fund wayfarers tumblr. Gluten-free nostrud williamsburg, sustainable freegan delectus yr laborum wes anderson incididunt vice elit artisan shoreditch. Cred accusamus jean shorts aliquip, 3 wolf moon occaecat farm-to-table VHS stumptown beard in cupidatat ethical sartorial high life. Before they sold out four loko do, chambray wolf eu pariatur in irony.",
          "Whatever keytar odio mollit, portland enim consequat ethical minim quis mixtape VHS master cleanse culpa deserunt. Do mcsweeney's butcher sustainable , cosby sweater cupidatat ex veniam mollit cardigan. Exercitation wayfarers tofu sint fixie irure, vinyl raw denim officia cupidatat. Sed velit enim, sapiente keytar salvia aute non craft beer. Fixie deserunt non banh mi seitan. Salvia cardigan aute duis. Velit pariatur in commodo, wayfarers enim cardigan freegan yr nesciunt helvetica gluten-free culpa minim scenester.",
          "Cred fap cliche hoodie stumptown. Duis cillum wolf quinoa vinyl anim, iphone odio lomo Austin. Freegan carles food truck, 8-bit retro brooklyn Austin tempor nihil voluptate cosby sweater. Squid letterpress craft beer , tumblr portland gentrify vice keytar echo park twee master cleanse. Laboris ad sint vero consectetur cupidatat. Exercitation 3 wolf moon american apparel , labore do iphone +1 gluten-free. Incididunt fixie gluten-free williamsburg , hoodie yr aliqua mcsweeney's. "
        ];

        var options = {};

        options.categories = ["Work Related", "Personal", "Important", "Read Later"]

        options.email = [
          {
            id: "sdf908f67hjf9sf",
            from: "Joe Johnson",
            subject: "Some email about that subject which was sent to you",
            date: "1/1/2001",
            body: body,
            categories: ["Work Related"]
          },
          {
            id: "365hljk85436lkh",
            from: "Jim Jimson",
            subject: "Did you get that thing I sent you?",
            date: "1/1/2001",
            body: body,
            categories: ["Work Related", "Read Later"]
          },
          {
            id: "a89ghjkl12389sg",
            from: "Ben Benson",
            subject: "Nigerian King needs YOU to send HIM money!",
            date: "1/1/2001",
            body: body,
            categories: ["Personal", "Important"]
          },
          {
            id: "764089gfdljk563",
            from: "Bob Robertson",
            subject: "Yo dawg, I hear you like Backbone...",
            date: "1/1/2001",
            body: body,
            categories: ["Read Later", "Important"]
          },
        ];

        options.contacts = [
          {
            id: "09vsjk3209svdjh",
            name: "Joe Johnson",
            email: "joe.johnson@example.com",
            phone: "555-555-5555"
          },
          {
            id: "45890bdhj4590gf",
            name: "Jim Jimson",
            email: "jim.jimson@example.com",
            phone: "555-555-5556"
          },
          {
            id: "120985h4509vfh4",
            name: "Ben Benson",
            email: "ben.benson@example.com",
            phone: "555-555-5557"
          },
          {
            id: "9sd9123njkdas90",
            name: "Bob Robertson",
            email: "robert.robertson@example.com",
            phone: "555-555-5558"
          },
          {
            id: "lj32kjsd09xzcv3",
            name: "Amy Amerson",
            email: "amy.amerson@example.com",
            phone: "555-555-5559"
          },
          {
            id: "aa23j45hn45n536",
            name: "Julie Julerson",
            email: "julie.julerson@example.com",
            phone: "555-555-5560"
          }
        ];

        BBCloneMail.start(options);
      });
