!!! 5
%html
  %head
    %title BBCloneMail: A Backbone.Marionette Reference Application
    %link{:href=>"/css/bbclonemail.css", :rel=>"stylesheet", :type=>"text/css"}

  %body

    // pre-requisites and libraries
    %script{:src=>"/javascripts/vendor/json2.js"}
    %script{:src=>"/javascripts/vendor/jquery.js"}
    %script{:src=>"/javascripts/vendor/jquery-tmpl.js"}
    %script{:src=>"/javascripts/vendor/underscore.js"}
    %script{:src=>"/javascripts/vendor/backbone.js"}
    %script{:src=>"/javascripts/vendor/backbone.marionette.js"}
    %script{:src=>"/javascripts/vendor/TrafficCop.min.js"}

    // general app files
    %script{:src=>"/javascripts/bbclonemail.js"}
    %script{:src=>"/javascripts/bbclonemail.layout.js"}
    %script{:src=>"/javascripts/bbclonemail.collection.js"}
    %script{:src=>"/javascripts/bbclonemail.views.js"}
    %script{:src=>"/javascripts/bbclonemail.routing.js"}

    // routing files

    // mail app files
    %script{:src=>"/javascripts/mail/bbclonemail.mailapp.js"}
    %script{:src=>"/javascripts/mail/bbclonemail.mailapp.categories.js"}
    %script{:src=>"/javascripts/mail/bbclonemail.mailapp.mailbox.js"}
    %script{:src=>"/javascripts/mail/bbclonemail.mailapp.routing.js"}

    // contacts app files
    %script{:src=>"/javascripts/contacts/bbclonemail.contactsapp.js"}
    %script{:src=>"/javascripts/contacts/bbclonemail.contactsapp.categories.js"}
    %script{:src=>"/javascripts/contacts/bbclonemail.contactsapp.contactlist.js"}
    %script{:src=>"/javascripts/contacts/bbclonemail.contactsapp.routing.js"}

    :javascript
      $(function(){
        BBCloneMail.start();
      });
