!!! 5
%html
  %head
    %link{:href=>"/stylesheets/bbclonemail.css", :rel=>"stylesheet", :type=>"text/css"}
    %title BBCloneMail: A Backbone.Marionette Reference Application
    
  %body
    = yield

    %script{:src=>"/javascripts/bbclonemail.js"}
