- if (NODE_ENV === "development"){

  // load all scripts individually for development purposes
  script(src="/javascripts/vendor/json2.js")
  script(src="/javascripts/vendor/jquery.js")
  script(src="/javascripts/vendor/jquery.resolved.js")
  script(src="/javascripts/vendor/underscore.js")
  script(src="/javascripts/vendor/backbone.js")
  script(src="/javascripts/vendor/backbone.compute.js")
  script(src="/javascripts/vendor/backbone.routefilter.js")
  script(src="/javascripts/vendor/backbone.marionette.js")
  script(src="/javascripts/vendor/marionette.wreqr.js")

  script(src="/javascripts/bbclonemail/bbclonemail.js")
  script(src="/javascripts/bbclonemail/bbclonemail.layout.js")

  script(src="/javascripts/bbclonemail/bbclonemail.mailrouter.js")
  script(src="/javascripts/bbclonemail/bbclonemail.mailapp.js")
  script(src="/javascripts/bbclonemail/bbclonemail.mailapp.mail.js")
  script(src="/javascripts/bbclonemail/bbclonemail.mailapp.categories.js")
  script(src="/javascripts/bbclonemail/bbclonemail.mailapp.categorynavigation.js")
  script(src="/javascripts/bbclonemail/bbclonemail.mailapp.mailbox.js")
  script(src="/javascripts/bbclonemail/bbclonemail.mailapp.inbox.js")

  script(src="/javascripts/bbclonemail/bbclonemail.contactrouter.js")
  script(src="/javascripts/bbclonemail/bbclonemail.contactsapp.js")
  script(src="/javascripts/bbclonemail/bbclonemail.contactsapp.contactcategories.js")
  script(src="/javascripts/bbclonemail/bbclonemail.contactsapp.contacts.js")
  script(src="/javascripts/bbclonemail/bbclonemail.contactsapp.contactlist.js")
- } else {

  // for production, just load the one script that has been concatenated and minified.
  script(src="/javascripts/build/bbclonemail.min.js")

- }
