- if (NODE_ENV === "development"){

  // load all scripts individually for development purposes
  script(src="/javascripts/vendor/json2.js")
  script(src="/javascripts/vendor/jquery.js")
  script(src="/javascripts/vendor/jquery.resolved.js")
  script(src="/javascripts/vendor/underscore.js")
  script(src="/javascripts/vendor/backbone.js")
  script(src="/javascripts/vendor/backbone.compute.js")
  script(src="/javascripts/vendor/backbone.routefilter.js")
  script(src="/javascripts/vendor/backbone.wreqr.js")
  script(src="/javascripts/vendor/backbone.babysitter.js")
  script(src="/javascripts/vendor/backbone.marionette.js")

  script(src="/javascripts/bbclonemail/bbclonemail.js")
  script(src="/javascripts/bbclonemail/components/appSelector.js")
  script(src="/javascripts/bbclonemail/components/appController.js")

  script(src="/javascripts/bbclonemail/mail/categories/categoryView.js")
  script(src="/javascripts/bbclonemail/mail/categories/categories.js")
  script(src="/javascripts/bbclonemail/mail/mailbox/mail.js")
  script(src="/javascripts/bbclonemail/mail/mailbox/mailListView.js")
  script(src="/javascripts/bbclonemail/mail/mailbox/mailItemView.js")
  script(src="/javascripts/bbclonemail/mail/mailapp.js")
  script(src="/javascripts/bbclonemail/mail/router.js")

  script(src="/javascripts/bbclonemail/contacts/router.js")
  script(src="/javascripts/bbclonemail/contacts/contactsapp.js")
  script(src="/javascripts/bbclonemail/contacts/contacts.js")
- } else {

  // for production, just load the one script that has been concatenated and minified.
  script(src="/javascripts/build/bbclonemail.min.js")

- }
