/*
Syntax error: File to import not found or unreadable: blueprint/reset.
              Load paths:
                /Users/derickbailey/dev/backbone/bbclonemail/bbclonemail/views/stylesheets
                /Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 1 of /Users/derickbailey/dev/backbone/bbclonemail/bbclonemail/views/stylesheets/bbclonemail.sass

1: /Users/derickbailey/dev/backbone/bbclonemail/bbclonemail/views/stylesheets/bbclonemail.sass

Backtrace:
/Users/derickbailey/dev/backbone/bbclonemail/bbclonemail/views/stylesheets/bbclonemail.sass:1
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/import_node.rb:42:in `import'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:149:in `rescue in visit_import'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:154:in `visit_import'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/sass-3.1.20/lib/sass/engine.rb:247:in `render'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:95:in `block (4 levels) in perform'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `call'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `run_callback'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm/path.rb:55:in `callback_action'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm/path.rb:39:in `delete'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm/state/directory.rb:32:in `block in deleted'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm/state/directory.rb:31:in `each'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm/state/directory.rb:31:in `deleted'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm/state/directory.rb:16:in `refresh'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/rb-fsevent-0.9.1/lib/rb-fsevent/fsevent.rb:43:in `call'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/rb-fsevent-0.9.1/lib/rb-fsevent/fsevent.rb:43:in `run'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm/monitor.rb:26:in `run'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/fssm-0.2.9/lib/fssm.rb:70:in `monitor'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/bin/compass:19:in `load'
/Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: blueprint/reset.\A               Load paths:\A                 /Users/derickbailey/dev/backbone/bbclonemail/bbclonemail/views/stylesheets\A                 /Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Users/derickbailey/.rvm/gems/ruby-1.9.2-p318@bbclonemail/gems/compass-0.12.2/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 1 of /Users/derickbailey/dev/backbone/bbclonemail/bbclonemail/views/stylesheets/bbclonemail.sass\A \A 1: /Users/derickbailey/dev/backbone/bbclonemail/bbclonemail/views/stylesheets/bbclonemail.sass"; }
