script#email-preview-template(type = "text/template")
  header
    a(href != "#mail/inbox/<%= id %>")
      span.from
        |<%= from %>
      span.subject
        |<%= subject %>
      span.date
        |<%= date %>
