%script#mail-categories-view-template{:type => "text/x-jquery-tmpl"}
  %p Mail Categories
  %ul
    %li
      %a{:"data-category" => "", :href => "#"} Inbox
    %li
      %a{:"data-category" => "sent", :href => "#inbox/sent"} Sent
    %li
      %a{:"data-category" => "trash", :href => "#inbox/trash"} Trash
  %ul.customCategories
    <% _.each(items, function(category) { %>
    %li
      %a{:"data-category" => "<%= category.name %>", :href => "#inbox/categories/<%= category.name %>" } <%= category.name %>
    <% }); %>
