script#mail-categories-view-template(type = "text/template")
  p Mail Categories
  ul
    li
      a.mail-category(data-category = "", href = "#mail") Inbox
    li
      a.mail-category(data-category = "sent", href = "#mail/categories/sent") Sent
    li
      a.mail-category(data-category = "trash", href = "#mail/categories/trash") Trash
  ul.customCategories
    |<% _.each(items, function(category) { %>
    li
      a.mail-category(data-category != "<%= category.name %>", href != "#mail/categories/<%= category.name %>" ) <%= category.name %>
    |<% }); %>
