script#mail-categories-view-template(type = "text/template")
  p Mail Categories
  ul
    li
      a(class="mail-category", data-category = "", href = "#") Inbox
    li
      a(class="mail-category", data-category = "sent", href = "#categories/sent") Sent
    li
      a(class="mail-category", data-category = "trash", href = "#categories/trash") Trash
  ul.customCategories
    |<% _.each(items, function(category) { %>
    li
      a(class="mail-category", data-category != "<%= category.name %>", href != "#categories/<%= category.name %>" ) <%= category.name %>
    |<% }); %>
