<script id='email-view-template' type='text/x-jquery-tmpl'>
  <li>
    <header>
      <span class='from'>
        <%= from %>
      </span>
      <span class='subject'>
        <%= subject %>
      </span>
      <span class='date'>
        <%= date %>
      </span>
    </header>
    <article>
      <div class='body'>

        <% if (categories){ %>
          <ul class='emailCategories'>
            <% _.each(categories, function(category){ %>
            <li><%= category %></li>
            <% }) %>
          </ul>
        <% } %>

        <p><%= body %></p>
      </div>
    </article>
  </li>
</script>
