<script id="layout-template" type="text/template">
  <section class='header'>
    <div class='container'>
      <header>
        <h1>BBCloneMail</h1>
        <p class='tag-line'>
          A
          <a href='http://github.com/derickbailey/backbone.marionette'>Backbone.Marionette</a>
          Reference Application
        </p>
      </header>
      <header class='help'>
        This application demonstrates the use of my
        <a href='http://github.com/derickbailey/backbone.marionette'>Backbone.Marionette</a>
        plugin for BackboneJS. To see it in action, change the selected app
        in the drop list to the left. Be sure to check out
        <a href='http://github.com/derickbailey/bbclonemail'>the source code</a>
        to see how it works.
      </header>
    </div>
  </section>
  <section class='content'>
    <div class='container'>
      <navigation>
        <section id='app-selector'>
          <select>
            <option value='mail'>Mail</option>
            <option value='contacts'>Contacts</option>
          </select>
        </section>
        <section id='navigation'></section>
      </navigation>
      <article id='main'>
        <div id='loading'>
          <img src='/images/ajax-loader.gif' />
        </div>
      </article>
    </div>
  </section>
  <section class='footer'>
    <div class='container'>
      <footer>
        <ul>
          <li>
            Copyright &copy;2011
            <a href='http://mutedsolutions.com'>Muted Solutions, LLC.</a>
            All rights reserved.
          </li>
        </ul>
        <ul>
          <li>
            BBCloneMail is a reference app for building awesomeness with
            <a href='http://backbonejs.org'>Backbone.js</a>
            and
            <a href='http://github.com/derickbailey/backbone.marionette'>Backbone.Marionette</a>
          </li>
        </ul>
        <ul>
          <li class='title'>BBCloneMail Source:</li>
          <li>
            <a href='http://github.com/derickbailey/bbclonemail'> The Github Project </a>
          </li>
          <li>
            <a href='http://derickbailey.github.com/bbclonemail/docs/bbclonemail.html'> The Annoted Code </a>
          </li>
        </ul>
        <ul>
          <li class='title'>
            Find me Twitter:
          </li>
          <li>
            <a href='http://twitter.com/derickbailey'>@derickbailey</a>
          </li>
          <li>
            <a href='http://twitter.com/backbonejsclass'>@backbonejsclass</a>
          </li>
          <li>
            <a href='http://twitter.com/mutedsolutions'>@mutedsolutions</a>
          </li>
        </ul>
        <ul>
          <li class='title'>
            Find me on the web:
          </li>
          <li>
            <a href='http://backbonetraining.net'>BackboneTraining.net</a>
          </li>
          <li>
            <a href='http://watchmecode.net'>WatchMeCode.net</a>
          </li>
          <li>
            <a href='http://derickbailey.lostechies.com'>DerickBailey.lostechies.com</a>
          </li>
          <li>
            <a href='http://mutedsolutions.com'>MutedSolutions.com</a>
          </li>
        </ul>
      </footer>
    </div>
  </section>
</script>
