<script id='mail-categories-view-template' type='text/x-jquery-tmpl'>
  <p>Mail Categories</p>
  <ul>
    <li>
      <a href="#inbox" data-category="">Inbox</a>
    </li>
    <li>
      <a href="#inbox/sent" data-category="sent">Sent</a>
    </li>
    <li>
      <a href="#inbox/trash" data-category="trash">Trash</a>
    </li>
  </ul>
  <ul class='customCategories'>
    <% _.each(items, function(category) { %>
      <li>
        <a href="#inbox/categories/<%= category.name %>" data-category="<%= category.name %>"><%= category.name %></a>
      </li>
    <% }) %>
  </ul>
</script>
